/* Подключение шрифтов */
@font-face {
    font-family: "Uni Neue";
    src: url("../fonts/UniNeueRegular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Uni Neue";
    src: url("../fonts/UniNeueBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-background-color: rgba(249, 249, 249);
    --main-text-color: rgba(0, 0, 0, 0.87);
}

/* Обнуление */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

input:focus {
    outline: none;
    border: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Uni Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--main-text-color);
}