@import "base.css";
@import "general.css";

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
    background-color: var(--main-background-color);
}

.main-ml-256 {
    margin-left: 256px;
}

/*Заголовок*/
.header {
    position: sticky;
    top: 0;
    display: flex;
    padding: 0 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: #2979FF;
    z-index: 8000;
}

.header-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    padding: 0 5px;
}

.header-burger .header-burger-line {
    height: 2px;
    width: 20px;
    background-color: #ffff;
}

.header-title {
    display: flex;
    align-items: center;
    height: 64px;
    padding: 10px 25px;
    color: #ffff;
}

/*Меню*/
.main {
    display: flex;
}

.menu {
    position: fixed;
    top: 64px;
    left: 0;
    bottom: 0;
    display: none;
    width: 256px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    background-color: rgba(253, 253, 253);
}

.menu-list {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu .menu-item {
    display: flex;
    align-items: center;
    min-height: 20px;
    padding: 15px 15px;
    font-size: 1rem;
    gap: 16px;
}

.menu .menu-item:hover {
    background-color: #dddbd8;
}

.menu-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.menu-logout-link {
    display: flex;
    align-items: center;
    min-height: 20px;
    font-size: 0.8rem;
    padding: 5px 5px;
}

.menu-logout-button {
    width: 100%;
    margin-bottom: 5px;
}

.menu-mobile-background {
    display: none;
}

/*Контент страниц*/
.main > section {
    flex: 1 1 auto;
    height: 100%;
    background-color: var(--main-background-color)
}

/*Главная страница*/
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 1080px;
}

.welcome-img img {
    max-width: 300px;
}

.welcome-title {
    margin-bottom: 8px;
    font-size: 2.125rem;
    line-height: 1.175;
    letter-spacing: 0.0073529412em;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

.welcome-text {
    margin-bottom: 12px;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0125em;
    font-family: "Roboto", sans-serif;
}

/*Авторизация, регистрация*/
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 1080px;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 1400px;
    padding: 20px 0;
}

.login-img,
.register-img {
    margin-bottom: 16px;
}

.login-img img,
.register img {
    max-height: 70px;
    max-width: 70px;
    margin: 0 auto;
}

.login-welcome,
.register-welcome {
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 1.175;
    letter-spacing: 0.0073529412em;
    font-family: "Roboto", sans-serif;
    margin-bottom: 8px;
}

.login-text,
.register-text {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0125em;
    font-family: "Roboto", sans-serif;
    margin-bottom: 32px;
}

.login-form,
.register-form {
    max-width: 300px;
    width: 100%;
}

.login-form-submit,
.register-form-submit {
    width: 100%;
}

.login-bottom-text,
.register-bottom-text {
    text-align: center;
}

.login-register-link,
.register-login-link {
    color: #0000EE;
    text-decoration: underline;
}

/*Регистрация*/
.register-form-country-select {
    font-size: 16px;
}

.register-form-languages label {
    display: block;
}

.register-form-languages select {
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 100%;
}

.register-form-interests-checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.register-form-gender {
    display: flex;
    gap: 16px;
}

.register-form-gender input[type="radio"] {
    width: 13px;
    height: 13px;
    transform: scale(1.5);
}

.register-form-profile-picture input[type="file"] {
    font-size: 16px;
}

.register-form-error {
    padding-top: 6px;
    font-size: 14px;
    color: rgba(176, 0, 32);
    margin-bottom: 10px;
}

.auth-error {
    padding-top: 6px;
    font-size: 14px;
    color: rgba(176, 0, 32);
    margin-bottom: 2px;
    text-align: center;
}

/*Страница "Портфели"*/
.portfolios {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 1080px;
}

.portfolios-form-wrapper {
    max-width: 500px;
    width: 100%;
    padding: 25px;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0.12);
    border-style: solid;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    margin: 8px;
}

.portfolios-form-title {
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0125em;
    font-family: "Roboto", sans-serif;
    text-transform: none;
    font-weight: 700;
    text-align: center;
    color: #2979FF;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.portfolios-form-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

.portfolios-form-text::before,
.portfolios-form-text::after {
    content: "";
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);;
    flex: 1;
}

.portfolios-form-text::before {
    margin-right: 5px;
}

.portfolios-form-text::after {
    margin-left: 5px;
}

/*Форма добавления портфеля*/
.add-portfolio-form-submit {
    width: 100%;
    margin-bottom: 0;
}

/*Форма изменения портфеля*/
.change-portfolio-form-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    margin: 15px 0 5px 0;
}

.change-portfolio-form-icon {
    font-size: 36px;
}

.change-portfolio-form-input-error {
    margin-bottom: 0;
}

.change-portfolio-form-change-button,
.change-portfolio-form-delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.change-portfolio-form-change-button span,
.change-portfolio-form-delete-button span {
    font-size: 38px;
    color: #ffff;
}

.change-portfolio-form-change-button {
    background-color: rgb(24, 103, 192);
}

.change-portfolio-form-delete-button {
    background-color: #F44336;
}

/*Страница "Портфель"*/
.portfolio {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 400px min-content;
    grid-template-areas:
        "chart add-coin"
        "portfolio-coins portfolio-coins";
    gap: 15px;
    max-width: 1400px;
    padding: 8px;
    margin: 0 auto;
}

.add-coin-form {
    grid-area: add-coin;
}

.chart {
    grid-area: chart;
}

.portfolio-coins {
    grid-area: portfolio-coins;
}

.add-coin-form,
.chart,
.portfolio-coins {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #fff;
}

/*Форма добавления монеты в портфель*/
.add-coin-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 14px;
}

.add-coin-form-title {
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0125em;
    font-family: "Roboto", sans-serif;
    text-transform: none;
    font-weight: 700;
    text-align: center;
    color: #2979FF;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.add-coin-form-select-coin select {
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 100%;
    padding: 16px 5px;
    background-color: transparent;
}

.add-coin-form-input-amount input,
.add-coin-form-input-money input {
    padding: 18px 0;
    width: 100%;
    font-size: 18px;
    background-color: transparent;
}

.add-coin-form-select-coin-error,
.add-coin-form-input-amount-error,
.add-coin-form-input-money-error {
    padding-left: 5px;
    font-size: 14px;
    color: rgba(176, 0, 32);
}

.add-coin-form-submit {
    width: 100%;
}

/*Заголовок таблицы отображения монет портфеля*/
.portfolio-coins-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.portfolio-coins-header-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.portfolio-coins-header-icon {
    font-size: 39px;
}

/*Форма фильтрации, сортировки, поиска*/
.portfolio-coins-filter-form {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
}

.portfolio-coins-filter-form-select-price select,
.portfolio-coins-filter-form-select-sort select {
    padding: 5px 5px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: transparent;
}

.portfolio-coins-filter-form-input-name input {
    padding: 6px 0;
}

.portfolio-coins-filter-form-submit {
    margin-bottom: 0 !important;
    padding: 2px 5px !important;
    height: 30px;
}

/*Таблица отображения монет портфеля*/
.portfolio-coins-table-wrapper {
    width: 100%;
    overflow: auto;
}

.portfolio-coins-table,
.portfolio-coins-table tbody {
    display: block;
    width: 100%;
    white-space: nowrap;
}

.portfolio-coins-table tr {
    display: flex;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.portfolio-coins-table th,
.portfolio-coins-table td {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    flex: 1;
}


.portfolio-coins-table th {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
}

.portfolio-coins-table-button {
    background-color: rgba(176, 0, 32);
    border: 2px solid rgba(176, 0, 32);
    margin-bottom: 0;
}

/*Пагинация таблицы*/
.portfolio-coins-pagination {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 1px 8px 10px 8px;
}

.portfolio-coins-pagination a {
    width: 70px;
    margin-bottom: 0;
    color: var(--main-text-color);
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: var(--main-background-color);
}