@media (max-width: 1200px) {
    .main-ml-256 {
        margin-left: 0;
    }

    /*Меню*/
    .menu {
        top: unset;
        left: unset;
        bottom: 0;
        width: 100%;
        border-right: none;
        box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.1), 0 -5px 6px 0 rgba(0, 0, 0, 0.05);
        z-index: 1000;
    }

    /*Задний слой на всю страницу*/
    .menu-mobile-background {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 999;
    }
}

@media (max-width: 800px) {
    .portfolio {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "chart"
            "add-coin"
            "portfolio-coins";
        gap: 10px;
    }

    .add-coin-form {
        gap: 5px;
    }

    .portfolio-coins-header {
        flex-direction: column;
        gap: 5px
    }

    /*Форма сортировки и поиска*/
    .portfolio-coins-filter-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
}